# PATH 
LLAMA_MODEL_PATH="D:/hf_models/Meta-Llama-3.1-8B-Instruct-Q4_K_M.gguf"
WHISPER_MODEL_PATH="D:/hf_models/whisper-large-v3"
LOCAL_DIARIZATION_CONFIG="D:/hf_models/speaker-diarization-3.1/config.yaml"
MODEL_CACHE_DIR="D:/hf_models"

# DATA PATH - 更新為新的扁平化結構
VIDEO_FILE="data\20250324-20054665XXX\20250324-20054665XXX.MP4"
AUDIO_FILE="data\20250324-20054665XXX\20250324-20054665XXX.mp3"
CASE_NAME="20250324-20054665XXX"

# DATA PRIVACY 
TESTER_NAME="XXX"

# TOKENS 
# TODO: change to your own token
HF_TOKEN=HF_TOKEN

# PORTS
HOST_LLM_PORT=8000
HOST_BACKEND_PORT=8001

# URLs
LLM_API_INTERNAL_URL=http://llm-server:8000

# Website root (on project root when developing)
VITE_BASE_PATH=/

# Database
# TODO: change to your own database credentials
DB_USER=DB_USER
DB_PASS=DB_PASS
DB_NAME=DB_NAME

# App Admin 
# TODO: change to your own admin information
ADMIN_USER=ADMIN_USER
ADMIN_PASS=ADMIN_PASS

# Backend Auth
# TODO: change to your own JWT secret
JWT_SECRET=JWT_SECRET

# Whisper
WHISPER_SERVICE_HOST="whisper"
WHISPER_SERVICE_PORT=8002

# Version
IMAGE_TAG=v2.5.0
